<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl" style="text-align:center;">
<div>
    <textarea rows="14" cols="150" ng-model="obj" style="color:green;font-weight:500"></textarea>
</div>
<div>
    <button ng-click="convert()">Convert</button>
</div>

<p style="color:red;font-weight:500">{{result}}</p>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
   $scope.convert = function(){
        $scope.result = JSON.stringify($scope.obj);
   }   
});
</script>

</body>
</html>
